[Unit]
Description=Celix Node Agent
Documentation=https://github.com/INAETICS

[Service]
ExecStart=/opt/inaetics/fleet/bin/celix_agent.sh --hostname=%H --machineId=%m --start
ExecStop=/opt/inaetics/fleet/bin/celix_agent.sh --hostname=%H --machineId=%m --stop

Restart=always
RestartSec=10

[X-Fleet]
X-Conflicts=celix@*.service

