[Unit]
Description=INAETICS Provision Service on host port 8080
Documentation=https://github.com/INAETICS

[Service]
ExecStart=/opt/inaetics/fleet/bin/provisioning.sh --hostname=%H --machineId=%m --instanceId=0 --start
ExecStop=/opt/inaetics/fleet/bin/provisioning.sh --hostname=%H --machineId=%m --instanceId=0 --stop

Restart=always
RestartSec=10

#[X-Fleet]
Conflicts=provisioning.service
